{% extends 'base.html.twig' %}

{% block body %}
    <div class="container m-4">
        <div class="row">
            <div class="col-8">
                <h1>Sight Reading Master</h1>
                <h2>Ajouter un nouvel Employé :</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            {{ form(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}