{% extends 'base.html.twig' %}

{% block title %} Espace Inscription {% endblock %}

{% block body %}
    <h1>Espace Inscription</h1>
    <div>
        <h2>Liste des formations disponibles<h2>
        
    </div>
    <div>
        <h2>Liste des formations déjà inscrit</h2>

    </div>

{% endblock %}