{% extends 'base.html.twig' %}

{% block title %} Espace Employe {% endblock %}

{% block body %}
    <div>
        <br><h2>Liste des employés</h2><br>
        <h4>
            {% for employe in ensEmploye %}
                id : {{ employe.id }}
                nom : {{ employe.nom }} 
                prénom : {{ employe.prenom }}
                <a href="{{path('app_formationAffTarget', { 'id': employe.id })}}">voir</a></br>
        <h4>
            <br>
        {% endfor %}
    </div>

{% endblock %}